---
layout: default
---
<main>
  <section class="hero is-dark is-medium">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="./">
              <img src="./img/diasporaX-logo.svg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <strong><a class="navbar-item">&leftarrow; Back</a></strong>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1 is-uppercase is-italic">Privacy Policy</h1>
      </div>
    </div>
  </section>

  <section class="section has-background-white has-text-black">
    <div class="container">
      <div class="content">
        <p>DiasporaX is committed to protecting individual privacy and securing the personal information made available to it when you visit DiasporaX.org</p>
        <p>This privacy policy describes what information is made available to DiasporaX and third parties when you visit DiasporaX.org and how DiasporaX uses and stores that information.</p>
        <h2 class="subtitle has-text-weight-bold">What Information Do You Collect?</h2>
        <p>We collect non-personally identifiable information about your activities when you visit our website, including:</p>
        <ol>
          <li>Internet Protocol (IP) Address. A computer’s IP address establishes its location on the internet and allows other computers, such as those hosting TheYouMuseum.org to send it content and other information;</li>
          <li>The internet domain name when a computer accesses the internet through a domain, such as from a corporation (“xcompany.com”) or university (“yourschool.edu”);</li>
          <li>The date, time, and duration of a website visit;</li>
          <li>If a computer accesses a page on TheYouMuseum.org via a link on another page, the URL of that referring page.</li>
          <li>Information about the computer set-up, such as the type and version of web browser (e.g., Internet Explorer 8.0, Mozilla Firefox 5.0), operating system (e.g., Unix, Mac OS, MS Windows), Java support (yes or no), Flash version (e.g., 10.1 r85), screen resolution (e.g., 1280×800), and connection speed (e.g., DSL, T1);</li>
          <li>The specific pages a computer accesses when it requests information from DiasporaX.org; and</li>
          <li>The amount of data (measured in number of bytes) transmitted from DiasporaX.org to a computer. DiasporaX.org does not use this information to identify or track the browsing of individual users. We do use it to generate aggregate statistics about how TheYouMuseum.org is used.</li>
        </ol>
      </div>
    </div>
  </section>
</main>
